/*Styling Goes Below*/
/*Styling Goes Below*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.navigation__container {
	display: flex;
	align-items: center;
	padding: 40px 0 40px 0;
	justify-content: space-between;
	max-width: 1440px;
	margin: 0 auto;
}

.navigation {
	width: 100%;
	border-bottom: 1px solid #000;
}

.navigation__list {
	list-style: none;
	display: flex;
}

.navigation__list li a {
	text-decoration: none;
	color: #000;
}

.navigation__list li:not(:last-child) {
	margin-right: 40px;
}

/*Media Queries Go Below*/
@media screen and (max-width: 375px) {

}