/*Styling Goes Below*/
/*Styling Goes Below*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.navigation__container {
	display: flex;
	align-items: center;
	padding: 60px 60px;
	justify-content: space-between;
}
.navigation__container, .ctacontainer, .footer_container {
	max-width: 1440px;
	margin: 0 auto;
}

.navigation {
	width: 100%;
}

.navigation__list {
	list-style: none;
	display: flex;
}

.navigation__list li a {
	text-decoration: none;
	color: #000;
}

.navigation__list li:not(:last-child) {
	margin-right: 40px;
}
.hero--section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 60px;

}
.illustration-1{

    height: 350px;
    margin-left: 60px;
    margin-top: 40px;
}

h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
	
}
p {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 400;
	margin-top: 30px;

}

.email {
    padding: 10px;
    width: 250px;
    border-radius: 3px;
    border: 0.5px solid;
	margin-top: 40px;   
}

::placeholder{
    color: hsl(0, 0%, 75%);
}
input:not(:focus):required{
    border-color: black;
}
input:focus:required:invalid {
    border-color: red;
  }

.button {
    padding: 10px;
    margin-left: 10px;
    text-align: center;
    width: 200px;
    border-radius: 3px;
    border: 1px solid;
    background-color: hsl(224, 93%, 58%);
    color: White;
    cursor: pointer;
    transition: all .1s linear;
}
.button:hover{
    background-color: hsl(224, 82%, 74%);
}


.site--description{
    margin-top: 7%;
    background-image: url(images/bg-curve-desktop.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    
}
.description--section{
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 60px;

   
}

.arrow--linked{
   
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #3ca494;
    padding-top: 20px;
    text-decoration: underline;
    
    
}
.arrow--linked:hover{
    color: #7cc8c8;
    cursor: pointer;
}

.icon{
    
    padding-left: 10px;
    height: 1.5em;
    border-bottom: 1px;
}
.testimonial--container{
    margin-top: 50px;
    border-radius: 6px;
    height: 250px;
    width: 350px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    cursor: pointer;

}

.icon--quote{
    height: 2vh;
}
.name{
    display: flex;
    padding: 10px;
}
.avatar{
    border-radius: 50%;
    height: 50px;
    
}
.name--details{
    margin: 5px;
    padding-left: 15px;
}
.cta {
	background: hsl(238, 22%, 44%);
	color: #fff;
	
}

.cta__container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
    padding: 60px 60px;
}

.cta__heading {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	margin-bottom: 20px;
	font-size: 25px;
}

.cta__form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.cta__input {
	padding: 15px;
	width: 400px;
	margin-bottom: 15px;
}

.cta__button {
	outline: 0;
	border: none;
	padding: 15px 30px 15px 30px;
	background: hsl(224, 94%, 58%);
	color: #fff;
	transition: all .1s linear;
    cursor: pointer;
}

.cta__button:hover {
	background: hsl(220, 100%, 71%);
}

.footer {
	background: hsl(243, 87%, 12%);
}

.footer__container {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	padding: 60px 60px;
	align-items: center;
	justify-content: center;
}

.footer__contacts {
	display: flex;
	flex-direction: column;
}

.footer__contacts a:first-child {
	margin-bottom: 30px;
}
.info__details {
    padding-right: 20px;
}

.footer__contacts a {
	color: #fff;
	text-decoration: none;
	margin-bottom: 15px;
}

#footer__logo {
	fill: #fff;
}

.footer__nav {
	display: flex;
	justify-content: space-around;
    cursor: pointer;
    margin-top: 20%;
}

.footer__nav ul {
	list-style-type: none;
}

.footer__nav ul li {
	color: #fff;
}
.footer__nav ul li:hover{
    color: hsl(220, 100%, 71%);
}

.footer__socials {
	display: flex;
    margin-top: 20%;
}

.footer__socials a {
	margin-left: 10px;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 50%;
	height: 30px;
	width: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}

.footer__socials a:hover{
    background-color: hsl(220, 100%, 71%);
}
